a {
    font-size: 1.4em;
    display: inline-block;
    color: black;
    margin: 2em;
    text-decoration: none;
    box-sizing: border-box;
}

a:hover {
    border-bottom: 1px solid black; 
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 237, 228);
}